@model Projekti.Models.Kontakt

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mosha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mosha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gjinia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gjinia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerTelefoni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerTelefoni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesazhi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesazhi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
