@model Projekti.Models.Autore

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<br />

<h1>Details</h1>

<div>
    <h4>Autore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmerAutori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmerAutori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MbiemerAutori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MbiemerAutori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendbanimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendbanimi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
