@model Projekti.Models.Libra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<br />

<h1>Details</h1>

<div>
    <h4>Libra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autore.Autori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zhanri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zhanri.Zhanri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShtepiBotuese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShtepiBotuese.ShtepiaBotuese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pershkrimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pershkrimi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Kthehu tek lista</a>
    <br />
    <form action="#">
        <button class="btn btn-primary">Lexo librin</button>
    </form>
</div>
