@model IEnumerable<Projekti.Models.Libra>

@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulli)</th>
            <th>@Html.DisplayNameFor(model => model.Autore)</th>
            <th>@Html.DisplayNameFor(model => model.Zhanri)</th>
            <th>@Html.DisplayNameFor(model => model.Viti)</th>
            <th>@Html.DisplayNameFor(model => model.ShtepiBotuese)</th>
            <th>@Html.DisplayNameFor(model => model.Cmimi)</th>
            <th>@Html.DisplayNameFor(model => model.Pershkrimi)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Titulli)</td>
                <td>@Html.DisplayFor(modelItem => item.Autore.Autori)</td>
                <td>@Html.DisplayFor(modelItem => item.Zhanri.Zhanri)</td>
                <td>@Html.DisplayFor(modelItem => item.Viti)</td>
                <td>@Html.DisplayFor(modelItem => item.ShtepiBotuese.ShtepiaBotuese)</td>
                <td>@Html.DisplayFor(modelItem => item.Cmimi)</td>
                <td>@Html.DisplayFor(modelItem => item.Pershkrimi)</td>
                <td>
                    <form asp-action="AddToCart" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
